inst.bin
.ipynb_checkpoints
*.pyc
.cache.mk
flex*.log
*.swp
.idea/
example/VOC2007/
example/ckpt/
example/yolov2tiny/
venv
.vscode
*sim/
*.zip
DNNAccel_0208_VOC5_final_007486/
new_DNNAccel_0120_16b_pdet/
Miniconda3-latest-Linux-x86_64.sh
